<!DOCTYPE html>
<html ng-app="etApp">
<head>
    <title>Field Service Module</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="vendors/jquery-ui-1.10.3.custom/css/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href="appFieldService/css/jobs.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="vendors/kendo-2013.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="vendors/kendo-2013.3.1119/styles/kendo.default.min.css" rel="stylesheet" />

</head>
<body ng-cloak>

    <div id="header">
        <div id="topMenu">
            <div class="row">
                <div class="col-md-3">
                    <span id="dealerBrand" class="logoDesign">eTrack</span>
                </div>
                <div class="col-md-6">
                    <div id="appModules" class="center-block">
                        <span id="mod1"><input id="rbtTracking" name="panelType"  onclick="changePanel(1)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Tracking</span></span>
                        <span id="mod2"><input id="rbtMultiTracking" name="panelType" onclick="changePanel(2)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Multi-Tracking</span></span>
                        <span id="mod6"><input id="rbtFieldService" name="panelType" onclick="changePanel(6)" checked="checked" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Field Service</span></span>
                        <span id="mod3"><input id="rbtReports" name="panelType" onclick="changePanel(3)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Reports</span></span>
                        <span id="mod5"><input id="rbtMaintenance" name="panelType" onclick="changePanel(5)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Maintenance</span></span>
                        <span id="mod4"><input id="rbtSettings" name="panelType" onclick="changePanel(4)" type="radio" style="margin-top:10px;" /><span class="topMenuOption">Settings</span></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="welcomeTitle1" class="pull-right" style="padding:3px;">
                        <span id="welcomeTitleSpan" style="color:#fff;font-weight:500;font-size:16px;"></span>
                        <input type="hidden" id="userFullName" />
                        <button class="btn" ng-controller="logoutController" ng-click="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="tabs" ng-controller="jobsController">
        <ul>
            <li><a href="#tabs-1">Jobs</a></li>
        </ul>
        <div id="tabs-1" >

            <div class="MiddleContentArea">        
                <div id="jobsMain" style="width:100%;">
                    <div id="left-pane">
                        <div id="leftPanes">
                            <div id="woStatsPane">
                                <div class="pane-content">
                                    <div id="woStatsDb">
                                        <div id="woStatsGrid" kendo-grid k-data-source="dsWOStats" k-options="woStatsGridOptions"></div>
                                    </div>
                                    <div id="woStatsToolbar">
                                        <p>
                                            <button type="button" data-role="button" data-sprite-css-class="k-icon k-i-cancel" ng-click="woStatsGridClear()">Clear Selection</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="workZonesPane">
                                <div class="pane-content">
                                    <div id="workZonesDb">
                                        <div id="wzGrid" kendo-grid k-data-source="dsWorkZones" k-options="wzGridOptions"></div>
                                    </div>
                                    <div id="wzToolbar">
                                        <p>
                                            <button type="button" data-role="button" data-sprite-css-class="k-icon k-i-cancel" ng-click="wzGridClear()">Clear Selection</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="techsPane">
                                <div class="pane-content">
                                    <div id="techsDb">
                                        <div id="techsGrid" kendo-grid k-data-source="dsTechnicians" k-options="techsGridOptions"></div>
                                    </div>
                                    <div id="techsToolbar">
                                        <p>
                                            <button type="button" data-role="button" data-sprite-css-class="k-icon k-i-cancel" ng-click="techsGridClear()">Clear Selection</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-pane">
                        <div class="pane-content">
                            <div id="jobsData">
                                <div id="jobsFiltersPane">
                                    <div class="pane-content">
                                        <div id="jobFilters" class="k-content" style="padding:10px;">
                                            <input type="text" id="filterJobNumber" value="" ng-model="filterJobNumber">
                                            <input type="text" id="filterCustomerName" value="" ng-model="filterCustomerName">
                                            <button type="button" id="filterSearch" data-role="button" ng-click="loadJobs()">Search</button>
                                            <button type="button" id="filterClear" data-role="button" ng-click="clearFilters()">Clear Filters</button>
                                            <!--<button type="button" id="btnNewJob" data-role="button" class="btn btn-success" ng-click="newJob()">New Job</button>-->
                                        </div>
                                    </div>
                                </div>
                                <div id="jobsPane">
                                    <div class="pane-content">
                                        <div id="jobsDb">
                                            <div id="jobsGrid" kendo-grid k-data-source="dsJobs" k-options="jobsGridOptions"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="jobDlg" title="Job" style="display:none;">
                <div class="k-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Job <small>No. <label>{{job.jobNumber}}</label></small></h4>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button type="button" class="btn btn-small  btn-danger" ng-click="cancelEntry()">Cancel</button>
                                <button type="button" class="btn btn-mini  btn-success" ng-click="saveJob()">Save</button>
                                <button type="button" class="btn btn-mini  btn-success" ng-click="saveAndMore()">Save and new</button>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="k-content">
                        <h4>Customer Information</h4>
                        <table>
                            <tr>
                                <td><label for="txtCustomer" class="col-sm-2 control-label">Customer</label></td>
                                <td>
                                    <div class="input-append">
                                        <input type="text" class="span2" id="txtCustomer" placeholder="Customer Name" ng-model="job.customerName">
                                        <button type="button" class="btn" ng-click="searchCustomers()">Search</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
    <script src="Scripts/underscore-min.js" type="text/javascript"></script>

    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js" type="text/javascript"></script>
  
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="Scripts/jquery.json-2.3.min.js" type="text/javascript"></script>
    <script src="Scripts/jquery.tools.min.js" type="text/javascript"></script>

    <script src="vendors/kendo-2013.3.1119/js/kendo.web.min.js"></script>
    <script src="vendors/angular-kendo.min.js"></script>
    <script src="vendors/xdate.js"></script>

    <script src="Scripts/authorization_006.js"></script>
    <script src="Scripts/util.js"></script>
    <script src="Scripts/utilities_002.js"></script>
    <script src="appFieldService/fs.js"></script>

    <script src="appFieldService/etApp.js"></script>
    <script src="appFieldService/services/services.js"></script>
    <script src="appFieldService/controllers/jobsController.js"></script>
    <script src="appFieldService/controllers/jobController.js"></script>
    <script src="app/controllers/etLogoutController.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            if (validateToken(false, 'jobs.html') == true) {
                setWelcomeTitle();

                $("#rbtFieldService").prop("checked", true);
                $("#tabs").tabs();

                var contentH = h - 150;
                $("#jobsMain").attr("style", "height: " + contentH + "px");
                $("#leftPanes").attr("style", "height: " + contentH + "px");
                $("#jobsData").attr("style", "height: " + (contentH - 10) + "px");
                $("#jobsGrid").attr("style", "height: " + (contentH - 70) + "px");
                $("#woStatsPane").attr("style", "height: " + (contentH / 3) + "px");
                $("#woStatsGrid").attr("style", "height: " + ((contentH / 3) - 40) + "px");
                $("#workZonesPane").attr("style", "height: " + (contentH / 3) + "px");
                $("#wzGrid").attr("style", "height: " + ((contentH / 3) - 40) + "px");
                $("#techsPane").attr("style", "height: " + (contentH / 3) + "px");
                $("#techsGrid").attr("style", "height: " + ((contentH / 3) - 50) + "px");

                $("#jobsMain").kendoSplitter({
                    panes: [
                        { collapsible: true, size: "300px" },
                        { collapsible: true }
                    ]
                });
                $("#leftPanes").kendoSplitter({
                    orientation: "vertical",
                    panes: [
                        { collapsible: false, size: (contentH / 3) + "px" },
                        { collapsible: false, size: (contentH / 3) + "px" },
                        { collapsible: false, size: (contentH / 3) + "px" }
                    ]
                });
                $("#jobsData").kendoSplitter({
                    orientation: "vertical",
                    panes: [
                        { collapsible: false, resizable: false, size: "50px" },
                        { collapsible: false, resizable: false, size: (contentH) + "px" }
                    ]
                });

                kendo.init("#woStatsToolbar");
                kendo.init("#wzToolbar");
                kendo.init("#techsToolbar");

                $("#filterJobNumber").kendoAutoComplete({ dataSource: [], placeholder: "Job Number" });
                $("#filterCustomerName").kendoAutoComplete({ dataSource: [], placeholder: "Customer Name" });
                $("#filterSearch").kendoButton({ spriteCssClass: "k-icon k-i-search" });
                $("#filterClear").kendoButton({ spriteCssClass: "k-icon k-i-cancel" });


                $("#jobDlg").dialog({
                    autoOpen: false,
                    resizable: false,
                    height: 700,
                    width: 1000,
                    modal: true
                });
            }

        });
    </script>

</body>

</html>
